<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>PoliSim</title>
    <script>
      var mode = "<%= NODE_ENV %>";
    </script>
  </head>
  <body class="d-flex flex-column h-100">
    <noscript>
      <strong>We're sorry but this webapp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <main id="app" role="main" class="flex-shrink-0"></main>
    <footer class="footer mt-auto py-1 bg-secondary container-fluid">
      <div class="row">
        <span class="text-light mx-auto">vue: <%= VUE_APP_VERSION %></h1> - PoliSim: <%= VUE_APP_APP_VERSION %> - mode: <%= NODE_ENV %></span>
      </div>
    </footer>
    <footer>
    </footer>
  </body>
</html>
