// This file is part of PoliSim
// European Union Public License 1.2 (EUPL-1.2)
// Copyright (C) 2019-2024 simevo s.r.l.

<template>
  <div
    class="py-3"
  >
    <div class="row">
      <h1 class="mx-auto">
        Open simulation architecture for OTS (Operator Training System)
      </h1>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p>Source code is <a href="https://gitlab.com/simevo/polisim">here</a>.</p>
      </div>
    </div>
  </div>
</template>
