// This file is part of PoliSim
// European Union Public License 1.2 (EUPL-1.2)
// Copyright (C) 2019-2024 simevo s.r.l.

<template>
  <div>
    <div
      v-show="!ready"
      class="text-center"
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      />
      App is starting ...
    </div>
    <div
      v-show="ready"
      class="py-3"
    >
      <div
        class="btn-group w-auto"
        role="group"
      >
        <button
          type="button"
          class="btn btn-success"
          :disabled="started"
          @click="start()"
        >
          <img
            src="~bootstrap-icons/icons/play-fill.svg"
            alt="undo icon"
            width="18"
            height="18"
          > Start
        </button>
        <button
          type="button"
          class="btn btn-primary"
          :disabled="started"
          @click="onestep()"
        >
          <img
            src="~bootstrap-icons/icons/play.svg"
            alt="undo icon"
            width="18"
            height="18"
          > Step
        </button>
        <button
          type="button"
          class="btn btn-info"
          :disabled="!started"
          @click="pause()"
        >
          <img
            src="~bootstrap-icons/icons/pause.svg"
            alt="redo icon"
            width="18"
            height="18"
          > Pause
        </button>
        <button
          type="button"
          class="btn btn-danger"
          :disabled="started"
          @click="restart()"
        >
          <img
            src="~bootstrap-icons/icons/skip-backward-fill.svg"
            alt="save icon"
            width="18"
            height="18"
          > Reset
        </button>
        <div
          class="ms-3"
          :class="{'alert-danger': lagging}"
        >
          Current time: {{ Math.round(time * 100.00) / 100.0 }} s<br>
          Computation time: {{ 100.0 * computation_time / deltat / 1000.0 }} % <strong v-show="lagging">Warning: the simulation is running slower than real time!</strong>
        </div>
      </div>
      <Process @setReady="setReady" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Process from '@/components/Process.vue'

export default {
  name: 'Home',
  components: {
    Process
  },
  data () {
    return {
      started: false,
      time: 0.0,
      computation_time: 0.0,
      deltat: 2,
      ready: false
    }
  },
  computed: {
    lagging () {
      return this.computation_time > this.deltat * 1000.0
    }
  },
  beforeDestroy () {
    window.clearInterval(this.$options.interval)
  },
  methods: {
    async fetchStep () {
      let payload = { deltat: this.deltat }
      const response = await fetch(`api/step`,
        {
          method: 'PUT',
          body: JSON.stringify(payload),
          headers: {
            accept: 'application/json',
            'Content-Type': 'application/json'
          }
        }
      )
      return response.json()
    },
    step () {
      if (this.started) {
        console.log('integration step')
        let startTime = new Date().getTime()
        this.fetchStep().then(data => {
          console.log('step performed')
          this.time = data.time
          this.computation_time = new Date().getTime() - startTime
        })
      }
    },
    start () {
      this.started = true
      this.$options.interval = window.setInterval(this.step, this.deltat * 1000.0)
    },
    onestep () {
      this.started = true
      this.step()
      this.started = false
    },
    pause () {
      this.started = false
      window.clearInterval(this.$options.interval)
    },
    async fetchRestart () {
      const response = await fetch(`api/restart`,
        {
          method: 'POST',
          headers: {
            accept: 'application/json'
          }
        }
      )
      return response.json()
    },
    restart () {
      this.fetchRestart().then(data => {
        console.log('restart performed')
        this.time = data.time
      })
    },
    setReady () {
      this.ready = true
    }
  }
}
</script>
