// This file is part of PoliSim
// European Union Public License 1.2 (EUPL-1.2)
// Copyright (C) 2019-2024 simevo s.r.l.

<template>
  <foreignObject
    :x="x"
    :y="y"
    width="100"
    height="80"
  >
    <div class="bg-success p-1 rounded-3">
      <label
        class="form-label m-0 p-0"
      >{{ description }}</label>
      <div class="input-group">
        <input
          class="form-control m-0 p-0"
          type="text"
          :readonly="readonly"
          :value="variables[tag]"
          :min="min"
          :max="max"
          @change="emitSetValue($event.target.value)"
        >
        <span
          id="basic-addon2"
          class="input-group-text m-0 p-0"
        >{{ unit }}</span>
      </div>
    </div>
  </foreignObject>
</template>

<script>
export default {
  name: 'Cell',
  props: {
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    },
    variables: {
      type: Object,
      default: () => { }
    },
    tag: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    unit: {
      type: String,
      default: ''
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 1
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  emits: ['setValue'],
  methods: {
    emitSetValue (value) {
      console.log(`emitSetValue(${value})`)
      value = Math.max(Math.min(this.max, value), this.min)
      this.variables[this.tag] = value
      this.$emit('setValue', this.tag, value)
    }
  }
}
</script>
