// This file is part of PoliSim
// European Union Public License 1.2 (EUPL-1.2)
// Copyright (C) 2019-2024 simevo s.r.l.

<template>
  <foreignObject
    :x="x"
    :y="y"
    width="80"
    height="80"
  >
    <div class="bg-warning p-1 rounded-3">
      <label
        class="form-label m-0 p-0"
      >{{ description }}</label>
      <div class="input-group">
        <input
          class="form-control m-0 p-0"
          type="text"
          :value="value.toFixed(1)"
          readonly
        >
        <span
          id="basic-addon2"
          class="input-group-text m-0 p-0"
        >{{ unit }}</span>
      </div>
    </div>
  </foreignObject>
</template>

<script>
export default {
  name: 'Cell',
  props: {
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    },
    description: {
      type: String,
      default: ''
    },
    value: {
      type: Number,
      default: 0
    },
    unit: {
      type: String,
      default: ''
    }
  }
}
</script>
