// This file is part of PoliSim
// European Union Public License 1.2 (EUPL-1.2)
// Copyright (C) 2019-2024 simevo s.r.l.
<template>
  <div
    id="app"
    class="bg-light"
  >
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <a
        class="navbar-brand"
        href="/"
      >
        <img
          :src="base_url+'logo.svg'"
          width="30"
          height="30"
          alt="simevo logo"
        > PoliSim
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" />
      </button>
      <div
        id="navbarNavAltMarkup"
        class="collapse navbar-collapse"
      >
        <div class="navbar-nav">
          <router-link
            class="nav-item nav-link"
            to="/"
          >
            Home
          </router-link>
          <router-link
            class="nav-item nav-link"
            to="/about"
          >
            About
          </router-link>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
nav {

  a {
    &.router-link-exact-active {
      color: blue!important;
    }
  }
}
</style>
<script>
export default {
  data () {
    return {
      base_url: import.meta.env.BASE_URL === '/' ? '/' : import.meta.env.BASE_URL + '/'
    }
  }
}
</script>
